{{define "title"}}Change Password{{end}}

{{define "main"}}
<form action='/account/password/update' method='POST' novalidate>
    <!-- Include the CSRF token -->
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

    <!-- Notice that here we are looping over the NonFieldErrors and displaying them, if any exist -->
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div> 
    {{end}}

    <div>
        <label>currentPassword:</label>
        {{with .Form.FieldErrors.currentPassword}}
            <label class='error'>{{.}}</label> 
        {{end}}
        <input type='password' name='currentPassword' >
    </div>

    <div>
        <label>newPassword:</label>
        {{with .Form.FieldErrors.newPassword}}
            <label class='error'>{{.}}</label> 
        {{end}}
        <input type='password' name='newPassword' >
    </div>

    <div>
        <label>newPasswordConfirmation:</label>
        {{with .Form.FieldErrors.newPasswordConfirmation}}
            <label class='error'>{{.}}</label> 
        {{end}}
        <input type='password' name='newPasswordConfirmation' >
    </div>

    <div>
        <input type='submit' value='Change Password'>
    </div> 
</form>
{{end}}