{{define "title"}}Account Profile{{end}}

{{define "main"}}

<p>Name: {{.User.Name}}</p>
<p>Email: {{.User.Email}}</p>
<p>Created: {{.User.Created}}</p>
<p>Password: <a href='/account/password/update'>Change password</a> </p>

{{end}}
